include dnn-mixins

!='<%@ Control Language="c#" AutoEventWireup="false" Explicit="True" Inherits="DotNetNuke.UI.Skins.Skin" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="language" Src="~/Admin/Skins/Language.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="logo" Src="~/Admin/Skins/Logo.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="search" Src="~/Admin/Skins/Search.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="nav" Src="~/Admin/Skins/Nav.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="text" Src="~/Admin/Skins/Text.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="breadcrumb" Src="~/Admin/Skins/BreadCrumb.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="user" Src="~/Admin/Skins/User.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="login" Src="~/Admin/Skins/Login.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="leftmenu" Src="~/Admin/Skins/LeftMenu.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="links" Src="~/Admin/Skins/Links.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="privacy" Src="~/Admin/Skins/Privacy.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="terms" Src="~/Admin/Skins/Terms.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="copyright" Src="~/Admin/Skins/Copyright.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="styles" Src="~/Admin/Skins/Styles.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" Namespace="DotNetNuke.Web.DDRMenu.TemplateEngine" Assembly="DotNetNuke.Web.DDRMenu" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="menu" Src="~/DesktopModules/DDRMenu/Menu.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="controlpanel" Src="~/Admin/Skins/controlpanel.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" TagName="Meta" Src="~/Admin/Skins/Meta.ascx" %>\n'
!='<%@ Register TagPrefix="dnn" Namespace="DotNetNuke.Web.Client.ClientResourceManagement" Assembly="DotNetNuke.Web.Client" %>\n'

+viewport()

block css

block skin

block js
