extends /jade/templates/skin

block skin
  .navbar
    +logo({id: 'site_logo'})
    +menu({id: 'primary', style: 'nav-primary'})
  section
    +content-pane('pane')
  footer
    +privacy({id: 'privacy'})
