#ControlBar_ControlPanel
  box-sizing: content-box

#ControlBar_ControlPanel *
  @extends #ControlBar_ControlPanel

#ControlBar_ControlPanel *:after
  @extends #ControlBar_ControlPanel *

#ControlBar_ControlPanel *:before
  @extends #ControlBar_ControlPanel *

.Normal
  color: inherit
  font-size: inherit
  font-weight: inherit
  line-height: inherit

.NormalDeleted
  @extends .Normal

.NormalDisabled
  @extends .Normal
